html {
  background-color: #f2f2f2;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font:inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3)
}

.container-title{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-item {
  list-style: none;
}

.features-item-one{
  color: white;

  background-color: #81b3d2;
}

.features-item h4 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-item li:nth-child(2) {
  color: white;

  background-color: #81b3d2;
}

.features-item li:nth-child(n+3) {
  background-color: #eee;
}

.hotels b{
  font-size: 30px;
  line-height: 36px;
}

.btn-find-hotel{
  color: #fff;
  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
  border: none;
}

.btn-find-hotel:focus,
.btn-find-hotel:hover {
  background-color: #604e43;
}

.btn-find-hotel:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}

.hotels-data {
  background-color: #fff;
}

.hotels-data label,
.hotels-data input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-data input {
  border: none;
  background-color: #f2f2f2;
}

.hotels-data input:hover {
  background-color: #ebebeb;
}

.hotels-data input:focus {
  background-color: #fff;
  border: 2px solid #ebebeb;
}

.btn-find {
  font-size: 21px;
  color: #fff;

  border: none;
  background-color: #81b3d2;
}

.btn-find:hover,
.btn-find:focus {
  background-color: #669ec0;
}

.btn-find:active {
  color: rgba(255,255,255,.3);

  background-color: #5496bd;
}


.main-footer span{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social ul{
  list-style: none;
}

.footer-social a,
.footer-copyright a{
  font:inherit;
  color: #000;
}

a.main-current {
  color: #766357;
}

.filter {
  color: #fff;
  line-height: 21px;
  font-size: 14px;

  background-color: #3e4c52;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.filter fieldset {
  border:none;
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;

}

.btn-filter {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #fff;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #000;

  background-color: #fff;
}

.sort p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort ul {
  list-style: none;
}

.sort-value{
  font-size: 12px;
  line-height: 18px;
}

.sort button {
  color: rgba(0,0,0,.3);
  font-size: 12px;
  line-height: 18px;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort button:hover,
.sort button:focus {
  color: #81b3d2;

  outline: none;
}

.sort button:active {
  color: #000;

  border: none;
}

.sort .btn-bottom,
.sort .btn-up {
  border: none;
}

.hotel-sort ul{
  list-style: none
}

.hotel-sort h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-sort h3:hover,
.hotel-sort h3:focus {
  color: #81b3d2;
}

.hotel-sort h3:active {
  color: rgba(0,0,0,0.3);
}

.hotel-about {
  display: inline-block;
  width: 110px;
  height: 30px;

  font:inherit;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  background-color: #81b3d2;
}

.hotel-about:hover,
.hotel-about:focus {
  background-color: #669ec0;
  outline: none;
}

.hotel-about:active {
  color: rgba(0,0,0,0.3);

  background-color: #5496bd;
}

.hotel-booking {
  display: inline-block;
  width: 140px;
  height: 30px;

  font:inherit;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  background-color: #766357;
}

.hotel-booking:hover,
.hotel-booking:focus {
  background-color: #604e43;
  outline: none;
}

.hotel-booking:active {
  color: rgba(0,0,0,0.3);

  background-color: #503e33;
}

.hotel-sort-rating {
  height: 30px;
  width: 110px;

  font-size: 14px;
  line-height: 28px;
  color: #666;
  text-align: center;


  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  background-color: #fff;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.main-img {
  height: 510px;
  width: 1200px;
  margin-bottom: 50px;
}

.features-item {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
}

.features-item li:first-child {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.features-item li {
  width: 400px;
  min-height: 260px;
}

.features-item-one {
  width: 400px;
  min-height: 260px;
}

.features-item-one-img {
  width: 800px;
  min-height: 260px;
}

.features-house,
.features-eat,
.features-souvenir {
  width: 400px;
  min-height: 260px;
}

.features-item li:nth-child(2) {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.features-item-two {
  width: 400px;
  min-height: 260px;
}

.features-item-two-img {
  order: -1;
  width: 800px;
  min-height: 260px;
}

.btn-find-hotel{
  width: 560px;
  height: 90px;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter form {
  display: flex;
}

.filter-type-list,
.filter-infrastructure-list {
  margin: 0;
  padding: 0;
}

.filter-infrastructure {
  margin-left: 70px;
  text-align: left;
}

.filter-type {
  margin-left: 110px;
  text-align: left;
}

.fieldset-btn {
  margin-left: auto;
  margin-right: 70px;
}

.sort {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  min-height: 90px;

  border-bottom: 1px solid #e5e5e5;
}

.sort ul {
  margin: 0;
  padding: 0;
}

.sort-find {
  margin-right: 50px;
}

.sort-value {
    margin-right: 40px;
}

.hotel-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hotel-list li{
  display: flex;
  padding: 30px 70px;
  align-items: center;

  border-bottom: 1px solid #e5e5e5;
}
.hotel-list img{
  order: -1;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel-sort-about{
  text-align: left;
}

.hotel-sort-rating-group{
  margin-left: auto;
}