html {
  background-color: #f2f2f2;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font:inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3)
}

.container-title{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-item {
  list-style: none;
}

.features-item-one{
  color: white;

  background-color: #81b3d2;
}

.features-item h4 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-item li:nth-child(2) {
  color: white;

  background-color: #81b3d2;
}

.features-item li:nth-child(n+3) {
  background-color: #eee;
}

.hotels{

  margin-top: 50px;
}

.hotels b{
  font-size: 30px;
  line-height: 36px;
}

.container-hotels{
  position: relative;
}

.hotels-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  top: 90px;
  left: 50%;

  width: 450px;
  margin-left: -280px;
  padding: 55px;
  z-index: 5;
}


.hotels-data label:first-child {
  margin-top: 0px;
}

.btn-find-hotel{
  color: #fff;
  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
  border: none;
}

.btn-find-hotel:focus,
.btn-find-hotel:hover {
  background-color: #604e43;
}

.btn-find-hotel:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}

.hotels-data {
    display: none;
  background-color: #fff;
}

.hotels-data label,
.hotels-data input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.hotels-data input::-webkit-input-placeholder {color:#000000; opacity:1;}/* webkit */
.hotels-data input::-moz-placeholder          {color:#000000; opacity:1;}/* Firefox 19+ */
.hotels-data input:-moz-placeholder           {color:#000000; opacity:1;}/* Firefox 18- */
.hotels-data input:-ms-input-placeholder      {color:#000000; opacity:1;}/* IE */

.hotels-data input {
  border: none;
  background-color: #f2f2f2;
  padding-top: 6px;
  padding-bottom: 6px;
}

.adult-container {
  position: relative;
}
.hotels-data .text {
  width: 292px;
  padding-left: 14px;
  padding-right: 40px;
}

.number-cost {
  padding-left: 38px;
  padding-right: 38px;
  width: 36px;
  text-align: center;
}

.hotels-data input:hover {
  background-color: #ebebeb;

}

.minus {
  position: absolute;
  top:2px;
  left: 7px;
  color:#a9a9a9;
  font-size: 50px;
  cursor: pointer;
}
.plus {
  position: absolute;
  top:5px;
  right: 9px;
  color:#a9a9a9;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;

}
.minus:hover,
.plus:hover {
  color: #000;
}

.minus:active,
.plus:active {
  color: #81b3d2;
}

.hotels-data input:focus {
  background-color: #fff;
  border: 2px solid #ebebeb;
}
.modal-container {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.hotel-cal {
  display: block;
  position: absolute;
  right: 9px;
  top: 50%;

  width: 21px;
  height: 22px;
  margin-top: -11px;

  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.btn-find {
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;

  width: 100%;
  margin-top: 24px;
  padding-bottom: 16px;
  padding-top: 16px;

  border: none;
  background-color: #81b3d2;
}

.btn-find:hover,
.btn-find:focus {
  background-color: #669ec0;
}

.btn-find:active {
  color: rgba(255,255,255,.3);

  background-color: #5496bd;
}

.footer-container {
  width: 1000px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 100px;
  padding-right: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
}

.footer-social{
  margin-left: auto;
  margin-right: auto;
}
.main-footer span{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer {
  position: relative;
}

.tw::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 15px;
  margin-top: -7.5px;
  margin-left: -6px;


  background-image: url("../img/t.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.fb::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -2px;


  background-image: url("../img/fb-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.yt::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 16px;
  margin-top: -10px;
  margin-left: -8px;


  background-image: url("../img/youtube.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.main-footer img{
  display: block;
}
.footer-copyright a {
display: flex;
align-items: center;

}
.footer-copyright svg {
margin-left: 5px;

}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

.footer-social ul{
  font-size: 0;
  padding: 0;
  margin-left: 0;
  list-style: none;
}

.footer-social li{
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.footer-social a:hover,
.footer-social a:focus
{
  background-color: #669ec0;
}

.footer-social a:active
{
  background-color: #5496bd;
}
.footer-social a:active::before
{
  opacity: .3;
}

.footer-social a {
  display: block;
  width: 50px;
  height: 50px;

  margin-left: 6px;

  background-color: #81b3d2;
}

.footer-social a,
.footer-copyright a{
  font:inherit;

  color: #000;
}


a.main-current {
  color: #766357;
}

.filter {
  color: #fff;
  line-height: 21px;
  font-size: 14px;

  background-color: #3e4c52;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.filter fieldset {
  border:none;
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;

}

.btn-filter {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  width: 135px;
  height: 37px;

  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #000;

  background-color: #fff;
}

.sort p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort ul {
  list-style: none;
}

.sort-value{
  font-size: 12px;
  line-height: 18px;
}



.sort button {
  color: rgba(0,0,0,.3);
  font-size: 12px;
  line-height: 18px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort button:hover,
.sort button:focus {
  color: #81b3d2;

  outline: none;
}

.sort button:active {
  color: #000;

  border: none;
}

.sort .btn-bottom,
.sort .btn-up {
  border: none;
}

.hotel-sort ul{
  list-style: none
}

.hotel-sort h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-sort h3:hover,
.hotel-sort h3:focus {
  color: #81b3d2;
}

.hotel-sort h3:active {
  color: rgba(0,0,0,0.3);
}

.hotel-about {
  display: inline-block;
  width: 110px;
  height: 30px;

  font:inherit;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-right: 4px;

  background-color: #81b3d2;
}

.hotel-about:hover,
.hotel-about:focus {
  background-color: #669ec0;
  outline: none;
}

.hotel-about:active {
  color: rgba(0,0,0,0.3);

  background-color: #5496bd;
}

.hotel-booking {
  display: inline-block;
  width: 140px;
  height: 30px;

  font:inherit;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  background-color: #766357;
}

.hotel-booking:hover,
.hotel-booking:focus {
  background-color: #604e43;
  outline: none;
}

.hotel-booking:active {
  color: rgba(0,0,0,0.3);

  background-color: #503e33;
}

.hotel-sort-rating {
  height: 30px;
  width: 110px;

  font-size: 14px;
  line-height: 28px;
  color: #666;
  text-align: center;


  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  background-color: #fff;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.site-navigation {
  position: relative;

  display: flex;

  margin: 0;
  padding: 0;
  padding: 15px 73px;

}

.site-navigation li:nth-child(2) {
padding-left: 147px;
}

.site-navigation li:nth-child(4) {
padding-left: 385px;
}

.site-navigation li:last-child {
margin-left: auto;
}

.main-page {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -69px;
}


.main-img {
  height: 510px;
  width: 1200px;
}

.container-title {
  margin: 0;
  padding: 0;
  margin-top:63px;
}

.features {
  margin-top: 30px;
}


.features-item {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

.features-item li:first-child {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}



.features-item-one {
  width: 280px;
  min-height: 260px;
  padding-left: 60px;
  padding-right: 60px;

}

.features-item-one-img {
  width: 800px;
  min-height: 260px;

}

.features-house,
.features-eat,
.features-souvenir {
  width: 280px;
  min-height: 180px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 150px;

}

.features-item li:nth-child(2) {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.features-item-two {
  width: 280px;
  min-height: 260px;
  padding-left: 60px;
  padding-right: 60px;

}

.features-item-two-img {
  order: -1;
  width: 800px;
  min-height: 260px;

  height: 260px;
  background-image: url("../img/slide_2_fix.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.features-item-one-img {
  height: 260px;
  background-image: url("../img/slide_1_fix.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.features-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  padding: 0;

  margin: 0;
  margin-top: 40px;
}

.features-item p {
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.features-container {
  width: 280px;
  min-height: 260px;
  padding-left: 60px;
  padding-right: 60px;
}

.number {
  display: block;
  margin-bottom: 25px;
}

.features-house {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.features-eat {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.features-souvenir {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}


.btn-find-hotel{
  width: 560px;
  height: 90px;
}

.filter fieldset {
  padding: 0;
}

.filter form {
  display: flex;

  padding: 30px 73px;

  overflow: hidden;
}
.filter legend {
  margin-bottom: 27px;
}

.filter li {
  margin-bottom: 23px;
}

.filter-type label,
.filter-infrastructure label {
  position: relative;

  padding-left: 40px;
}

.filter-type label::before,
.filter-infrastructure-list label::before{

  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  height:23px;
  width: 23px;
  margin-top: -11.5px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-type label::after,
.filter-infrastructure-list label::after{
  display: none;
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  height:23px;
  width: 23px;
  margin-top: -11.5px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#pool:checked ~ label::after,
#parking:checked ~ label::after,
#wi-fi:checked ~ label::after,
#hotel:checked ~ label::after,
#motel:checked ~ label::after,
#apartment:checked ~ label::after {
  display: block;
}

#pool:checked ~ label::before,
#parking:checked ~ label::before,
#wi-fi:checked ~ label::before,
#hotel:checked ~ label::before,
#motel:checked ~ label::before,
#apartment:checked ~ label::before {
  display: none;
}

#pool:checked:disabled ~ label::after,
#parking:checked:disabled ~ label::after,
#wi-fi:checked:disabled ~ label::after,
#hotel:checked:disabled ~ label::after,
#motel:checked:disabled ~ label::after,
#apartment:checked:disabled ~ label::after {
  display: block;
  background-image: url("../img/checkbox-on-dis.svg");
}

#pool:disabled ~ label::before,
#parking:disabled ~ label::before,
#wi-fi:disabled ~ label::before,
#hotel:disabled ~ label::before,
#motel:disabled ~ label::before,
#apartment:disabled ~ label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}
.filter-cost {
  width: 317px;
}

.filter-cost label{
  font-size: 15px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  padding-left: 65px;
  line-height: 30px;

}

.container-cost input {
  width: 50px;
  padding-left: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  outline: none;
}

.container-cost {
    text-align: left;
  font-size: 0;
  position: relative;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 2px;
  vertical-align: top;
  line-height: 32px;
  margin-bottom: 20px;
}

.container-cost::after {
  position: absolute;
  top:50%;
  left: 50%;
  content: "";

  width: 2px;
  height: 22px;
  margin-left: -1px;
  margin-top: -11px;

  background-color: #fff;
}

input::-moz-placeholder { color: #FFFFFF; }

input::-webkit-input-placeholder { color: white; }

.range {
  position: relative;
  margin-bottom: 32px;
}

.filter li:last-child {
  margin-bottom: 0;
}
.scale {

  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,0.3);
}

.bar {
  margin-left: 0%;
  margin-right: 20%;

  height: 2px;
  background-color: rgb(255,255,255);
}

.toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background-color: #ababab;

  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.7);

  cursor: pointer;
}

.toggle:hover,
.toggle:focus {
border-width: 9px;
}

.toggle-min {
left: 0%;
}

.toggle-max{
right: 20%;
}


.filter input[type="checkbox"] {
  position: absolute;
  left: -1000px;
  opacity: 1;
}

.filter-type-list,
.filter-infrastructure-list {
  margin: 0;
  padding: 0;
}

.filter-infrastructure {
  text-align: left;
}

.filter-type {
  margin-left: 110px;
  text-align: left;
}

.fieldset-btn {
  margin-left: auto;
}


.sort {
  padding: 30px 70px;
  display: flex;
  align-items: center;
  min-height: 90px;

  border-bottom: 1px solid #e5e5e5;
}

.sort ul {
  margin: 0;
  padding: 0;
}

.sort-list li{
  padding-right: 33px;

}

.btn-up:hover polygon,
.btn-up:focus polygon,
.btn-bottom:hover polyline,
.btn-bottom:focus polyline  {
  fill: #000;
}

.btn-bottom:active polyline,
.btn-up:active polygon {
  fill: #81b3d2;
}

.btn-bottom,
.btn-up {
  cursor: pointer;
}


li.right {
  padding: 0;
  margin-left: auto;
  margin-right: 12px;
}

.sort-list li:last-child{
  padding-right: 0;

}
.sort-list {
  display: flex;
  width: 100%;
}

.sort-find {
  margin: 0;
  margin-right: 50px;
}

.sort-value {
    margin-right: 40px;

}

.hotel-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hotel-list li{
  display: flex;
  padding: 30px 70px;
  align-items: center;

  border-bottom: 1px solid #e5e5e5;
}
.hotel-list img{
  order: -1;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel-sort-about{
  text-align: left;
}

.hotel-sort-rating-group{
  margin-left: auto;
  text-align: right;
}

.star {
  display: inline-block;

  background-image: url(../img/star.svg);
  background-image: repeat-x;
  background-position: 0 0;
}

.star-1 {
  width: 72px;
  height: 17px;
}

.star-2 {
  width: 54px;
  height: 17px;
}

.star-3 {
  width: 36px;
  height: 17px;
}