body {
	font-family: sans-serif;
	font-size: 14px;
	line-heaght: 26px;
	color: #000;
	font-weight: normal;
}

.container-title {
	font-size: 21px;
	line-heaght: 26px;
	text-transform: uppercase;
}

.features-item h3{
	font-size: 18px;
	line-heaght: 21px;
	color: #eee;
	text-transform: uppercase;
}
